*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.topbar{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
}
.topbar *{
    color: whitesmoke;
    text-decoration: none;
}
.body{
    display: flex;
}
.main{
    flex-grow: 1;
}
.topbar-logo{
    font-size: 2em;
}
.topbar-nav{
    display: flex;
    align-items: center;
}
.topbar-nav *{
    padding: 10px 5px;
}
.topbar-nav .menu:hover{
    background-color: #356;
}
.search{
    position: relative;
}
.search .icon{
    position: absolute;
    top: 7px;
    right: 10px;
}

.search input{
    padding: 5px 15px 5px 10px;
    border-radius: 15px;
    border: 2px solid cadetblue;
    font-size: 1.2em;
    color: darkblue!important;
}