*{
    box-sizing: border-box;
}
 body{
     font-size: 20px;
     
 }
 .topbar{
     position: relative;
     background-color: cadetblue;
     top:0;
     left: 0;
     right: 0;
     font-weight: 80;
     padding: 0 55px ;
     
 }
 .topbar nav a{
     padding: 20px;
     color: black;
     font-family:serif;
     line-height: 55px;
     font-weight: 800;
    
 }
 .topbar nav a:hover {
     color : grey;
 }
 .main{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     

 }
 .sidebar{
 }