
.container{
    display: flex;
    width: 100%;
     
    
}
.sidebar{
    margin-right: 100px;
    height: 120px; 
    border: solid 1px rgba(38, 62, 197, 0.979);
    border-radius: 4px;
    padding: 10px 50px;
    margin-bottom: 10px;
    margin-top: 0;
    margin-left: 0px;
    
}
.client{
    margin-top: 0;
}
.sidebar a{ 
    text-decoration: none;
    color: rgb(27, 29, 29);
}
.Modif{
    text-decoration: none;
    border: solid 2px rgb(13, 48, 247);
    text-align: center;
    overflow: hidden;  
    margin-top: 0;
    margin-bottom: 10px;
    width: 200px;
    border-radius: 5px;
   
}
.Modif a{
    color: rgb(13, 48, 247);
}
.suppr{
    text-decoration: none;
    border: solid 2px rgb(241, 16, 16);
    text-align: center;
    overflow: hidden;
    border-radius: 5px;  
}
.suppr a{
   color: rgb(241, 16, 16);; 
}
.main{
    margin-right: 100px;
    height: 140px; 
    border: solid 1px rgba(38, 62, 197, 0.979);
    width: 200px;
    padding: 0 45px;
    border-radius: 4px;
    
}
.side{
    
    margin-right: 200px;
    height: 140px; 
    border: solid 1px rgba(38, 62, 197, 0.979);
    padding: 0 60px;
}
.btnbgd{
    background: blue;
    text-decoration: none;
}

